<div class="container">
  <div class="row">
    <div class="create-subreddit-container">
      <form (ngSubmit)="createSubreddit()" [formGroup]="createSubredditForm" class="post-form">
        <div class="form-group">
          <div class="create-subreddit-heading">Создать раздел</div>
          <hr/>
          <input [formControlName]="'title'"
                 class="form-control"
                 placeholder="Название"
                 style="margin-top: 5px"
                 type="text">
          <textarea [formControlName]="'description'"
                    placeholder="Описание"
                    style="width: 100%; margin-top: 5px"
                    type="text">
          </textarea>
          <div>
            <div class="float-right" style="margin-top: 5px">
              <button (click)="discard()" class="btnDiscard">Отменить</button>
              <button class="btnCreateSubreddit">Создать</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <h5 class="guidelines">Элементарные правила</h5>
        <hr/>
        <ul>
          <li>Уважайте других</li>
          <li>Ведите себя хорошо</li>
          <li>Не тупите</li>
        </ul>
      </div>
    </div>
  </div>
</div>
