<div class="container">
  <div>
    Пользователь: {{name}}.
  </div>
  <hr/>
  <div>
    Количество постов: <strong>{{postLength}}</strong>
  </div>
  <app-post-title [posts]="posts"></app-post-title>
  <hr/>
  <div>
    Количество комментариев: <strong>{{commentLength}}</strong>
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user-profile/{{comment.username}}">{{comment.username}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr/>
  </div>
</div>
